body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    padding: 10px 20px;
}
.navbar .logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 24px;
}
.navbar .logo img {
    width: 40px; /* Adjust the size as needed */
    margin-right: 20px; /* Adjust this value to reduce the space */
}
.navbar .search-bar {
    flex-grow: 1;
    display: flex;
    justify-content: center; /* Center the search bar */
}
.navbar .search-bar input {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 10px; /* Rounded corners */
    background-color: #FAFAFA;
    border: none;
}
.navbar .icons {
    display: flex;
    align-items: center;
}
.navbar .icons a {
    color: #535355;
    text-decoration: none;
    margin-left: 20px;
    font-size: 24px;
}