        .icons .back-icon {
		    display: inline-block; /* Ensure the element respects the width property */
		    width: 50px;
		    padding: 38px 0px;
		    text-align: center; /* Optional: Center the icon within the width */
		}
		.icons .back-icon i {
		    font-size: 26px; /* Adjust the size of the icon if necessary */
		}
        
        /* landing page */    
        .landingpage {
        	display: columns;
            align-items: left;
            text-align: left;
            justify-content: space-between;
            padding: 0px 54px;
        }
		
		.square {
			width: 500px;
			height: 500px;
			border-radius: 10px;
			object-fit: cover;
		}
		.halfscreen-text {
			padding: 0px 10px;
			max-width: 45%;
		}
		.halfscreen-text h1 {
			margin: 0px;
		}
		.halfscreen-text h2 {
			margin: 0px;
		}
		.halfscreen-text p {
			margin: 0px;
		}
		.halfscreen-icons-container {
			display: flex;
		    align-items: center;
		    gap: 40px;
		}
		.right-container {
            display: flex;
            justify-content: flex-end; /* Pushes content to the right */
        }
		.break {
			display: block;
    		height: 2em; /* Adjust the height to add spacing */
		}
		.large-icon {
			display: flex;
			
		}
		
		.checkout {
			width: 35%;
			height: 90vh;
			overflow: hidden;	
		}
		.vertical-line {
		    width: 2px; /* Sets the width of the vertical line */
		    height: 100%;
		    background-color: grey; /* Sets the color of the line */
			margin: 0px 20px 0px 0px;
		}


		
		label {
		    margin-bottom: 8px;
		    font-size: 16px;
		    font-weight: bold;
		}
		
		input[type="text"] {
		    width: 50vh;
		    padding: 10px;
		    font-size: 14px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		}
    