
		body {
            font-family: 'DM Sans';
            margin: 0;
            padding: 0;
            color: black;
        }
        h1 {
        	font-size: 40px;
        }
        h2 {margin: 0px;
        padding: 0px;
        	font-size: 20px;
        }
        h3 {
        	font-size: 24px;
        }
        p {
        	margin: 0px;
        	padding: 0px;
        }
        a {
        	color: black;
        	text-decoration: none;
        }
        a:hover {
		    color: #FF206E;
		    text-decoration: none;
		}
        
        /*horizontal scroll*/
		.scroll-container {
		    width: 100%;
		    overflow-x: auto;
		    white-space: nowrap;
		}
		.horizontal {
			display: flex;
			flex-direction: row;
		}
		
		/*vertical scroll*/
		.vertical {
			flex-direction: column;
		}
		.vertical-scroll {
		    height: 500px; 
		    overflow-y: auto; 
		    padding: 0px 10px; 
		    display: flex;
		    flex-direction: column;
		    gap: 10px; 
		}

		.vertical-scroll img {
			object-fit: cover;
		    width: 150px; 
		    height: 150px;
		    border-radius: 10px; 
		}
		

        /* activate navbar icons */
        .active i {
        	color: #FF206E;
        }
        .icons .back-icon {
		    display: inline-block; /* Ensure the element respects the width property */
		    width: 50px;
		    padding: 38px 0px;
		    text-align: center; /* Optional: Center the icon within the width */
		}
		.icons .back-icon i {
		    font-size: 26px; /* Adjust the size of the icon if necessary */
		}
		/* Styles for filter button */
		.filter-btn {
		    background-color: #FAFAFA; /* Button background color */
		    color: black; /* Button text color */
		    border: none;
		    border-radius: 5px;
		    padding: 10px 20px;
		    cursor: pointer;
		    font-size: 20px;
		}
		.filter-text {
		    margin-left: 5px; /* Add space between icon and text */
		}
		
		#filterPopupOverlay {
            display: none;
            position: fixed;
            top: 150px;
            left: 0;
            width:23%;
            height: 70%;
			padding: 10px;
            z-index: 999;
        }

        /* Styles for the popup content */
        #filterPopupContent {
            background-color: #fff;
            padding: 10px;
            border-radius: 8px;
			border-color: grey;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            width: 100%;
            height: 100%;

            margin: 0;
            position: relative;
        }
		.modal {
		    opacity: 1 !important; /* Set opacity to 1 */
		}
		.modal-dialog {
        background-color: #fff !important; /* Change the last value (0.5) to adjust opacity */
    }
        
        /* landing page */    
        .landingpage {
        	display: columns;
            align-items: left;
            text-align: left;
            justify-content: space-between;
            padding: 0px 54px;
        }

		
		/* chatter card */
		.cardspadding {
			padding-right: 20px;
		}
		.rowpadding {
			padding-bottom: 30px;
		}

		.name {
		    margin: 0;
		    font-size: 1.2em;
		}
		.rating {
		    margin: 3px 20px;
		}
		.rating .fa-star {
		    color: #FF206E;
		    font-size: 1.1em;
		}
		.username {
			flex: 1;
		    margin: 5px 0;
		    font-size: 0.9em;
		}
		.price {
			flex: 1;
			text-align: right;
			
		}
		.description {
		    margin: 5px 0;
		    font-size: 0.8em;
		}
		
		.square {
			width: 500px;
			height: 500px;
			border-radius: 10px;
			object-fit: cover;
		}
		.halfscreen-text {
			padding: 0px 10px;
			max-width: 45%;
		}
		.halfscreen-text h1 {
			margin: 0px;
		}
		.halfscreen-text h2 {
			margin: 0px;
		}
		.halfscreen-text p {
			margin: 0px;
		}
		.halfscreen-icons-container {
			display: flex;
		    align-items: center;
		    gap: 40px;
		}
		.right-container {
            display: flex;
            justify-content: flex-end; /* Pushes content to the right */
        }
		.break {
			display: block;
    		height: 2em; /* Adjust the height to add spacing */
		}
		.large-icon {
			display: flex;
			width: 80px;
			font-size: 70px;
			color: #FF206E;
		}

		button.logout-button {
		    padding: 5px 10px; 
		    background-color: #535355; 
		    color: white; 
		    border: none; 
		    border-radius: 5px; 
		    cursor: pointer; 
		    font-family: 'DM Sans';
		    font-size: 20px; 
		}
		
		.checkout {
			width: 35%;
			height: 90vh;
			overflow: hidden;	
		}
		.vertical-line {
		    width: 2px; /* Sets the width of the vertical line */
		    height: 100%;
		    background-color: grey; /* Sets the color of the line */
			margin: 0px 20px 0px 0px;
		}
		 .horizontal-line-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
		.horizontal-line {
			width: 100%;
			height: 2px;
			background-color: grey;
			margin: 10px 0px 5px 5px;
		}

		
		label {
		    margin-bottom: 8px;
		    font-size: 16px;
		    font-weight: bold;
		}
		
		input[type="text"] {
		    width: 50vh;
		    padding: 10px;
		    font-size: 14px;
		    border: 1px solid #ccc;
		    border-radius: 4px;
		}
		
		 .price-slider-container {
        width: 300px;
        margin: 20px auto;
    }
    .price-slider {
        -webkit-appearance: none;
        appearance: none;
        width: 100%;
        height: 15px;
        border-radius: 10px;
        background: #DADADA;
        outline: none;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
    }
.price-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF206E; /* Pink color */
    cursor: pointer;
    margin-top: -5px; /* Adjust the thumb's vertical position */
    z-index: 2;
}
.price-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #FF206E; /* Pink color */
    cursor: pointer;
    margin-top: -5px; /* Adjust the thumb's vertical position */
}

    .price-slider::-webkit-slider-runnable-track {
    background: linear-gradient(to right, #FF206E 0%, #FF206E var(--thumb-position), #d3d3d3 var(--thumb-position), #d3d3d3 100%);
    border-radius: 10px;
    height: 15px;
}
.price-slider::-moz-range-track {
    background: linear-gradient(to right, #FF206E 0%, #FF206E var(--thumb-position), #d3d3d3 var(--thumb-position), #d3d3d3 100%);
    border-radius: 10px;
    height: 15px;
}
    
    .price-range {
        text-align: center;
        margin-top: 10px;
    }
    
    .checkbox-list {
        padding: 0;
    }
    .checkbox-item {
        margin-bottom: 5px;
    }
    .checkbox-item input[type="checkbox"] {
        margin-right: 5px; /* Optional: Add some spacing between checkbox and label */
    }